/*
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap2spip/css/spip.list.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap2spip/css/bootstrap-start.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/_functions.scss
#@squelettes/css/_variables.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/_variables.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap2spip/css/_mixins.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap2spip/css/_spip.variables.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/_mixins.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/vendor/_rfs.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_deprecate.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_breakpoints.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_hover.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_image.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_badge.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_resize.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_screen-reader.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_size.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_reset-text.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_text-emphasis.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_text-hide.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_text-truncate.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_visibility.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_alert.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_buttons.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_caret.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_pagination.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_lists.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_list-group.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_nav-divider.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_forms.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_table-row.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_background-variant.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_border-radius.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_box-shadow.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_gradients.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_transition.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_clearfix.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_grid-framework.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_grid.scss
#@plugins/auto/bootstrap4/v4.6.1.1/bootstrap/css/mixins/_float.scss
*/
@charset "UTF-8";
/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */
/* [dnc125]
    Surcharger les variables
    Nécessite SPIPr dist avec Bootstrap 4 
*/
/* Variables et declarations specifiques, en complement de _variables.scss */
/* Listes d'items */
/*
.liste[.long][.short][.thumb]
  .liste-items
    .item[.long][.short][.thumb]


Un item est compose de :

.entry
  .entry-title
    .spip_logos
    .read-more
  .publication
    .pubdate
    .authors
  .entry-content
  .postmeta
    .comments
    .signatures
*/
.liste {
  margin-bottom: 1.5rem;
}
.liste.long {
  margin-bottom: 3rem;
}
.liste-items {
  margin-left: 0;
  list-style: none;
  border-top: 0;
}
.liste-items .item {
  padding: 0.75rem 0;
  clear: both;
  overflow: hidden;
  border-top: 1px solid #dee2e6;
  margin-top: -1px;
}
.liste-items .item:last-child {
  border-bottom: 1px solid #dee2e6;
}
.liste-items .item .entry {
  margin-bottom: 0;
}
.liste-items .item .entry-title:first-child {
  margin-top: 0;
}
.entry div.spip, .entry p, .entry .p {
  margin-bottom: 0.75rem;
}
.entry .entry-title {
  margin-bottom: 0.75rem;
}
.entry .entry-content > :last-child {
  margin-bottom: 0;
}
.entry .entry-content {
  margin-bottom: 0.75rem;
}
.liste-items .item-header {
  padding: 0.75rem 0;
  clear: both;
  overflow: hidden;
  border-top: 1px solid #dee2e6;
  margin-top: -1px;
  border: 0;
  display: block;
  font-weight: bold;
  color: #dee2e6;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.item + .item-header {
  padding-top: 0.75rem;
}
.liste-items .publication, .liste-items .postmeta {
  display: none;
}
.liste-items .postmeta .tags ul, .liste-items .postmeta .tags li {
  display: inline;
}
/* Long */
.long .publication {
  display: block;
}
.long .postmeta {
  display: block;
}
/* Short */
.short .item, .item.short {
  padding: 0.375rem 0;
}
.short .item:first-child:last-child, .item.short:first-child:last-child {
  border: 0;
}
.short .entry-title {
  font-size: inherit;
  line-height: inherit;
  display: inline;
}
.short .publication, .short .spip_logo, .short .entry-content, .short .postmeta, .short .read-more {
  display: none;
}
.short .entry > :not(.entry-title) {
  display: none;
}
.short .entry, .short .entry-title {
  display: inline;
}
/* thumb */
.thumb .item:first-child:last-child, .item.thumb:first-child:last-child {
  border: 0;
}
.thumb .entry {
  position: relative;
}
.thumb .entry:before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1.5rem;
  background: #f8f9fa;
}
.thumb .entry .entry-title {
  padding-top: 0;
  display: block;
}
.thumb .entry .spip_logo {
  margin: 0;
  position: absolute;
  width: 100% !important;
  top: 0;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.thumb .entry .spip_logo .img {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  background-size: cover !important;
}
.thumb .entry-content {
  max-height: 7.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.thumb.thumb-4x1 .entry::before, .thumb.thumb-4x1 .spip_logo {
  padding-bottom: 25%;
}
.thumb.thumb-3x1 .entry::before, .thumb.thumb-3x1 .spip_logo {
  padding-bottom: 33.33%;
}
.thumb.thumb-5x2 .entry::before, .thumb.thumb-5x2 .spip_logo {
  padding-bottom: 40%;
}
.thumb.thumb-2x1 .entry::before, .thumb.thumb-2x1 .spip_logo {
  padding-bottom: 50%;
}
.thumb.thumb-16x9 .entry::before, .thumb.thumb-16x9 .spip_logo {
  padding-bottom: 56.25%;
}
.thumb.thumb-4x3 .entry::before, .thumb.thumb-4x3 .spip_logo {
  padding-bottom: 75%;
}
.thumb.thumb-1x1 .entry::before, .thumb.thumb-1x1 .spip_logo {
  padding-bottom: 100%;
}
/* on demand */
.with-read-more .entry {
  position: relative;
  padding-bottom: 1.5em;
}
.with-read-more .postmeta {
  min-height: 1.5em;
  padding: 0.75rem 0;
  padding-left: 2em;
  padding-bottom: 0;
  margin-bottom: -1.5em;
}
.with-read-more .read-more {
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  text-align: right;
  padding: 0.75rem 0;
  padding-left: 0;
  padding-bottom: 0;
  line-height: 1.5em;
  font-size: 1rem;
}
.with-publication .entry .publication {
  display: block;
}
.with-publication-inline .entry .publication {
  display: inline;
  padding-left: 0.25em;
}
.with-postmeta .entry .postmeta {
  display: block;
}
.with-postmeta-inline .entry .postmeta {
  display: inline;
  padding-left: 0.25em;
}
.with-content .entry .entry-content {
  display: block;
}
.with-content-inline .entry .entry-content {
  display: inline;
}
/* dans un .secondary */
.secondary .liste-items .item {
  padding: 0.375rem 0;
}
.secondary .liste-items .spip_logo {
  max-width: 3.75em;
}
.secondary .liste-items .spip_logo img {
  height: auto !important;
}
.secondary .liste-items .entry-content {
  max-height: 7.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.secondary .short .item, .secondary .item.short {
  padding: 0.1875rem 0;
}
.secondary .short .entry-title {
  font-weight: normal;
}
.secondary .long .entry-content {
  max-height: 15em;
}
/* liste de documents */
.documents .item {
  padding-right: 0;
  padding-left: 4.5em;
}
.entry.document {
  padding-bottom: 0;
}
.entry.document .entry-title {
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 0;
}
.entry.document .spip_logo {
  float: left;
  max-width: 2.25em;
  margin: 0.25rem 0.5rem;
  margin-left: -4.5em;
  margin-top: 0;
}
.entry.document .publication {
  display: block;
  margin-bottom: 0;
}
.entry.document .read-more {
  display: none;
}
.documents.short .item, .documents .item.short {
  padding-left: 0;
}
.short .document .spip_logo {
  display: none;
}
